.bottle{
    background-color: lightgray;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.img{
    max-width: 80%;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
}
.btn{
    background-color: dimgray;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.1rem;
    width: fit-content;
    display: block;
    margin: 0 auto;
}
.btn:hover{
    cursor: pointer;
}